header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  background-image: url('../images/logo.png'); /* Update with your logo path */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

